modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 5000 -H 0.0.0.0"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
JWT_SECRET = "9e7dbded260b2947ee2ca621b0d162eaa5bc05d61d4ed7051ad389f14ba02c20"
VAPID_PUBLIC_KEY = "BBy6lOoUB5gH-wR6uUS2cn61_MW_4AYcDg1p5lCy-E5yTRKbijh-obOfFqqoUkzAcdFFLbmAL5LRXXK5UOqmqXA"
VAPID_PRIVATE_KEY = "n26t-EkDiF2LIgS8kbJjIxJmVXGM2D-UGMq7cQBYRaY"
VAPID_EMAIL = "mailto:admin@taritech.dev"
